<html>

  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <div class = 'pane'>
      <div class = 'header'>
        <h1>{{ restaurant.name }}</h1>
      </div>

      <a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id)}}'>
        Create New Item
      </a>
      <h1>{{restaurant.name}}</h1>

      <div class = 'flash'>
        {% with message = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li><strong> {{message}} </strong></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>


      {% for i in items %}

      <div>

        <p>{{i.name}}</p>

        <p>{{i.description}}</p>

        <p> {{i.price}} </p>

        <form action={{url_for('newMenuItem', restaurant_id=restaurant.id)}}>
            <input type="submit" value="create" />
        </form>

        <form action={{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=i.id)}}>
            <input type="submit" value="edit" />
        </form>

        <form action={{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=i.id)}}>
            <input type="submit" value="delete" />
        </form>

      </div>

      {% endfor %}
    </div>
  </body>

</html>
