<html>

  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>

    <h1> Register Menu <s>In 5 second</s> </h1>

    <form action="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" method = 'POST'>
      <p>What's new for the spot?</p>
      <input type='text' size='30' name='name'>
      <input type='submit' value='Create'>
    </form>

    <a href= "{{url_for('showMenu', restaurant_id=restaurant.id)}}">Cancel</a>
  </body>
</html>
