<html>

  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>

    <div class='pane'>

      <!-- Header -->
      <div class = 'header'>

        <h1>
          Restaurant Book
          <i>
            <sup>Beta</sup>
          </i>
        </h1>

      </div>

      <h3>
        Register New Restaurant <a href="{{url_for('newRestaurant')}}"><b>here</b></a>
      </h3>

      <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li><strong> {{message}} </strong></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

      <!-- Each Restaurant info container -->
      <div>
        {% for restaurant in restaurants %}
          {% if restaurant %}
            <li>
              <strong>
                <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">{{restaurant.name}}</a>
              </strong>
            </li>
            <p></p>
            <form action="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">
                <input type="submit" value="edit" />
            </form>
            <form action="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">
                <input type="submit" value="delete" />
            </form>
            {% else %}
            <li>
              <strong>
                Be the first Restaurant Owner!!
              </strong>
            </li>
          {% endif %}
        {% endfor %}
      </div>

    </div>

  </body>

</html>
